USE [master]
GO
/****** Object:  Database [StoreShoes]    Script Date: 04.06.2026 1:14:49 ******/
CREATE DATABASE [StoreShoes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoreShoes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StoreShoes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoreShoes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\StoreShoes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoreShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoreShoes]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04.06.2026 1:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoriesID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriesName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufactures]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufactures](
	[ManufacturesID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturesName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemsID] [int] IDENTITY(1,1) NOT NULL,
	[OrdersID] [int] NULL,
	[TovarsID] [int] NULL,
	[CountTovar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdersID] [int] IDENTITY(1,1) NOT NULL,
	[DateOrders] [date] NULL,
	[DateDelivery] [date] NULL,
	[PointVudachiesID] [int] NULL,
	[ClientID] [int] NULL,
	[Code] [int] NULL,
	[OrderStatusesID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[OrderStatusesID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusesName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointVudachies]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointVudachies](
	[PointVudachiesID] [int] IDENTITY(1,1) NOT NULL,
	[PointVudachiesName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PointVudachiesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshikes]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshikes](
	[PostavshikesID] [int] IDENTITY(1,1) NOT NULL,
	[PostavshikesName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostavshikesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolesID] [int] IDENTITY(1,1) NOT NULL,
	[RolesName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarNames]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarNames](
	[TovarNamesID] [int] IDENTITY(1,1) NOT NULL,
	[TovarName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TovarNamesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovars]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovars](
	[TovarsID] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](150) NOT NULL,
	[TovarNamesID] [int] NOT NULL,
	[EdIzmereniya] [nvarchar](150) NOT NULL,
	[Price] [int] NOT NULL,
	[PostavshikesID] [int] NOT NULL,
	[ManufacturesID] [int] NOT NULL,
	[CategoriesID] [int] NOT NULL,
	[Skidka] [int] NOT NULL,
	[Ostatok] [int] NULL,
	[Opisanie] [nvarchar](255) NULL,
	[Images] [nvarchar](255) NULL,
 CONSTRAINT [PK__Tovars__45EF3BCB608459FB] PRIMARY KEY CLUSTERED 
(
	[TovarsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.06.2026 1:14:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[RolesID] [int] NULL,
	[FIO] [nvarchar](155) NULL,
	[Login] [nvarchar](155) NULL,
	[Password] [nvarchar](155) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrdersID])
REFERENCES [dbo].[Orders] ([OrdersID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Tovar__6383C8BA] FOREIGN KEY([TovarsID])
REFERENCES [dbo].[Tovars] ([TovarsID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK__OrderItem__Tovar__6383C8BA]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderStatusesID])
REFERENCES [dbo].[OrderStatuses] ([OrderStatusesID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PointVudachiesID])
REFERENCES [dbo].[PointVudachies] ([PointVudachiesID])
GO
ALTER TABLE [dbo].[Tovars]  WITH CHECK ADD  CONSTRAINT [FK__Tovars__Categori__571DF1D5] FOREIGN KEY([CategoriesID])
REFERENCES [dbo].[Categories] ([CategoriesID])
GO
ALTER TABLE [dbo].[Tovars] CHECK CONSTRAINT [FK__Tovars__Categori__571DF1D5]
GO
ALTER TABLE [dbo].[Tovars]  WITH CHECK ADD  CONSTRAINT [FK__Tovars__Images__5535A963] FOREIGN KEY([PostavshikesID])
REFERENCES [dbo].[Postavshikes] ([PostavshikesID])
GO
ALTER TABLE [dbo].[Tovars] CHECK CONSTRAINT [FK__Tovars__Images__5535A963]
GO
ALTER TABLE [dbo].[Tovars]  WITH CHECK ADD  CONSTRAINT [FK__Tovars__Manufact__5629CD9C] FOREIGN KEY([ManufacturesID])
REFERENCES [dbo].[Manufactures] ([ManufacturesID])
GO
ALTER TABLE [dbo].[Tovars] CHECK CONSTRAINT [FK__Tovars__Manufact__5629CD9C]
GO
ALTER TABLE [dbo].[Tovars]  WITH CHECK ADD  CONSTRAINT [FK_Tovars_TovarNames] FOREIGN KEY([TovarNamesID])
REFERENCES [dbo].[TovarNames] ([TovarNamesID])
GO
ALTER TABLE [dbo].[Tovars] CHECK CONSTRAINT [FK_Tovars_TovarNames]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RolesID])
REFERENCES [dbo].[Roles] ([RolesID])
GO
USE [master]
GO
